<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meals Recipes</title>
</head>
<body>
    <header>
      <header-navbar></header-navbar>
      <header-hero></header-hero>
    </header>
    <main class="p-5 w-full">
        <div class="max-w-screen-xl min-w-min px-5 mx-auto">
            <section class="mb-5">
                <h1 class="text-center text-2xl md:text-3xl lg:text-4xl font-bold text-gray-700">Find recipes and more</h1>
                <search-bar></search-bar>
            </section>
            <section>
                <meal-list></meal-list>
            </section>
        </div>
    </main>
    <footer></footer>
</body>
</html>