<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meals Recipes</title>
</head>
<body>
    <header>
      <header-navbar></header-navbar>
      <header-hero></header-hero>
    </header>
    <main class="p-5 w-full">
        <div class="max-w-screen-xl min-w-min px-5 mx-auto">
            <section class="mb-5">
                <h1 class="text-center text-2xl md:text-3xl lg:text-4xl font-bold text-gray-700">Find recipes and more</h1>
                <search-bar></search-bar>
                <hr class="my-4 border-0 border-t border-solid border-opacity-50 max-w-3xl mx-auto">
                <div class="flex mx-auto max-w-3xl items-center justify-end">
                    <small class="mr-5">Categories</small>
                    <select name="order-by" id="" class="block p-2 border border-solid border-opacity-50">
                        <hr>
                        <option value="countries">-Countries-</option>
                        <option value="french" class="countries">French</option>
                        <option value="american" class="countries">American</option>
                        <option value="italian" class="countries">Italian</option>
                    </select>
                </div>
            </section>
            <section>
                <meal-list class="grid md:gap-4 md:grid-cols-2 lg:grid-cols-3"></meal-list>
                <div id="loader-text" class="loader loader-default is-active" style="display: none;"></div>
            </section>
        </div>
    </main>
    <footer></footer>
</body>
</html>