<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meals Recipes</title>
</head>
<body>
    <header>
      <nav class="flex fixed mt-0 w-full p-4 bg-white shadow-md ">
        <h2 class="md:w-1/6">Meals Recipes</h2>
        <button type="button" class="bg-white rounded-md absolute right-4 text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-500 md:hidden">
          <span class="sr-only">open main menu</span>
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
        <div class="hidden md:flex md:w-10/12 md:justify-between">
          <ul class="md:flex">
            <li class="px-4">Recipes</li>
            <li class="px-4">Stories</li>
            <li class="px-4">Categories</li>
          </ul>
          <div>
            <button class="px-4">Login</button>
            <button class="px-4">Sign-up</button>
          </div>
        </div>
        
      </nav>
      <div></div>

    </header>
    <main></main>
    <footer></footer>
</body>
</html>