.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 5, 0.5), rgba(0, 0, 5, 0.5)), url("../public/images/cooking.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: Black !important
}

.hero_inner {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.hero_title {
    font-weight: 500;
    font-size: 28px;
}

.hero_tagline {
    margin-top: 16px;
    font-weight: 300;
    font-size: 18px;
}