@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
}
/*
.hero_inner {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.hero_title {
    font-weight: 500;
    font-size: 28px;
}

.hero_tagline {
    margin-top: 16px;
    font-weight: 300;
    font-size: 18px;
}*/